<launch>
  <remap from="/rosaria/cmd_vel" to="/cmd_vel" />
  <remap from="/rosaria/sonar" to="/sonar" />
  <remap from="/rosaria/pose" to="/pose" />
  <arg name="robot_ip" />
  <arg name="urdf" default="$(find amigo_description)/urdf/amigobot.urdf" />
  <param name="robot_description" textfile="$(arg urdf)" />
  <node name="rosaria" pkg="rosaria" type="RosAria">
  <param name="port" value="$(arg robot_ip):8101" />
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find amigo_real)/amigo_real.rviz" required="true" />
</launch>
